.link-game {
  z-index: 10;
}

.hero-section {
  position: relative;
  width: 100%;
  /* height: 100vh; */
  background-color: #181e3d;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.hero-section header {
  z-index: 10;
}

.hero-section .text-game {
  width: 60%;
  z-index: 10;
}

.hero-section .title-game {
  z-index: 10;
}

.hero-section i {
  position: absolute;
  background: rgba(36, 208, 235, 0.5);
  animation: animateStars linear 5s infinite; /* Aumenté la duración a 5 segundos */
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
}

@keyframes animateStars {
  0% {
    transform: translateY(-100vh);
  }
  100% {
    transform: translateY(200vh);
  }
}

.hero-section .hero-rocket {
  position: relative;
  animation: animate-hero-section 2s ease infinite; /* Aumenté la duración a 2 segundos */
  z-index: 10;
  margin-top: 30px;
}

.hero-section img {
  width: 200px;
}

@keyframes animate-hero-section {
  0% {
    transform: translateY(-2px);
  }

  50% {
    transform: translateY(2px);
  }
}
