.destination-section {
    width: 100%;
    height: auto;
    padding: 50px 0;
    background: #4b4b4b70;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.destination-section .card-destination {
    position: relative;
    
    height: 300px;
    background-color: #f0f0f0;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    text-align: center;
}

.destination-section .card-destination .info-box {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 1;
    opacity: 0;
    transform: scale(0.8); /* Escala inicialmente al 80% */
    transform-origin: center top;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.destination-section .card-destination:hover .info-box {
    display: block;
    opacity: 1;
    transform: scale(1);
    color: #98a8fc;
}